<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>


<%= form_with(model: djoque) do |form| %>
  <% if djoque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(djoque.errors.count, "error") %> prohibited this djoque from being saved:</h2>

      <ul>
        <% djoque.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :djoke, "Votre Djoque" %>
    <%= form.text_area :djoke %>
  </div>

  <div class="actions">
    <%= form.submit "Publier"%>
  </div>
<% end %>
